[access]
	inheritFrom = All-Projects
[project]
	description = Lighting projects
[access "refs/heads/*"]
	abandon = group ldap/lighting_service_framework
	create = group ldap/lighting_service_framework
	forgeAuthor = group ldap/lighting_service_framework
	push = group ldap/lighting_service_framework
	label-Code-Review = -2..+2 group ldap/lighting_service_framework
	submit = group ldap/lighting_service_framework
	editTopicName = group ldap/lighting_service_framework
[access "refs/for/*"]
	pushMerge = group ldap/lighting_service_framework
[access "refs/meta/config"]
	read = group ldap/lighting_service_framework
[access "refs/tags/*"]
	pushTag = group ldap/lighting_service_framework
	pushSignedTag = group ldap/lighting_service_framework
[access "refs/for/refs/heads/feature/*"]
	pushMerge = group Non-Interactive Users
	pushMerge = group ldap/lighting_service_framework
