[access]
	inheritFrom = All-Projects
[project]
	description = Lighting projects
[access "refs/for/refs/heads/*"]
	push = group LightingApps
[access "refs/heads/*"]
	abandon = group LightingApps
	create = group LightingApps
	forgeAuthor = group LightingApps
	label-Code-Review = -2..+2 group LightingApps
	submit = group LightingApps
	editTopicName = group LightingApps
[access "refs/for/*"]
	pushMerge = group LightingApps
[access "refs/meta/config"]
	read = group LightingApps
[access "refs/tags/*"]
	pushTag = group LightingApps
	pushSignedTag = group LightingApps
[access "refs/for/refs/heads/feature/*"]
	pushMerge = group LightingApps
	pushMerge = group Non-Interactive Users
[access "refs/*"]
	read = group GitHub Replication
