[access]
	inheritFrom = All-Projects
[project]
	description = Lighting projects
[access "refs/heads/*"]
	abandon = group Lighting
	create = group Lighting
	forgeAuthor = group Lighting
	push = group Lighting
	label-Code-Review = -2..+2 group Lighting
	submit = group Lighting
	editTopicName = group Lighting
[access "refs/for/*"]
	pushMerge = group Lighting
[access "refs/meta/config"]
	read = group Lighting
[access "refs/tags/*"]
	pushTag = group Lighting
	pushSignedTag = group Lighting
